:root {
    --primary-dark: #5D737E;
    --secondary-dark: #8a9ea8;
    --ternary-dark: #5d739f;
    --highlight: #64B6AC;
    --highlight-dark: #397972;
    --secondary: #d6f5f5;
    --ternary: #e1faef;
    --primary-light: #FCFFFD;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--primary-light);
  margin-bottom: 20px;
}

h1 {
  font-family: "Cinzel";
}

p {
  margin: 0;
}

a {
  color: var(--highlight-dark);
}

a:hover {
  color: var(--highlight);
  text-decoration: none;
}

.title-text {
  font-family: "Cinzel";
}

/* Navbar */
.navbar {
  text-shadow: 2px 2px 8px var(--primary-dark);
  transition: all 0.5s;
}

.navbar-brand {
  font-size: 2rem;
}

.navbar-expand-lg {
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--primary-light);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--ternary);
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: white;
}

.bg-primary-dark {
  background-image: linear-gradient(var(--ternary-dark), rgba(0, 0, 0, 0));
}
/* End navbar */

.btn-my-primary {
  background-color: var(--highlight);
  border-color: var(--highlight);
  color: var(--primary-light);
}

.btn-my-primary:hover {
  background-color: var(--highlight-dark);
  border-color: var(--highlight-dark);
  color: var(--primary-light);
}

.btn-my-primary-dark {
  background-color: var(--highlight-dark);
  border-color: var(--highlight-dark);
  color: var(--primary-light);
}

.btn-my-primary-dark:hover {
  background-color: var(--highlight);
  border-color: var(--highlight);
  color: var(--primary-light);
}

/* Banner */
.banner {
  background-color: var(--primary-dark);
  position: relative;
  color: white;
  display: flex;
  overflow: hidden;
  height: auto;
  margin-top: 5px;
}

.banner img {
  width: 100%;
  display: block;
}

.banner .pic {
  width: 100%;
  transition: 0.5s all;
  filter: blur(4px) brightness(0.75);
}

.banner .pic:hover {
  transform: scale(1.05);
}

.banner .banner-text-half {
  width: auto;
  position: static;
  z-index: 1;
}

.banner .banner-text {
  text-shadow: 0px 0px 3px var(--primary-dark);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.banner .banner-text p {
  font-size: 20px;
}

.banner .banner-text-left {
  left: 0;
}

.banner .banner-text-right {
  right: 0;
}

.coverup {
  display: none;
  width: 50%;
  background-color: var(--primary-dark);
  height: 350px;
  position: absolute;
  top: 0px;
}

.coverup-left {
  left: 65%;
  transform: rotate(-15deg);
}

.coverup-right {
  right: 65%;
  transform: rotate(15deg);
}

.form-control:focus {
  border-color: var(--secondary);
  box-shadow: none;
}

@media (min-width: 768px) {
  .banner .pic {
    filter: none;
  }

  .banner .banner-text p {
    font-size: 16px;
  }
}
/* End banner */

/* Character Icons */
.character-list {
  overflow: scroll;
  width: 100%;
}

.character-item {
  min-width: 100px;
}

.character-list .character-item:not(:first-child) {
  margin: 0 10px;
}

.character-item-circle {
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: 0.5s all;
}
/* End character icons */

@font-face {
    src: url("/fonts/cinzel/Cinzel-Regular.otf");
    font-family: "Cinzel";
}

@media (min-width: 768px) {
  .banner {
    height: 300px;
  }

  .banner .pic {
    width: 70%;
  }

  .banner .banner-text-half {
    width: 40%;
    position: relative;
  }

  .banner .banner-text {
    text-shadow: none;
  }

  .coverup {
    display: block;
  }
}
